{{ 'events-banner.css' | asset_url | stylesheet_tag }}

<section
  class="events-banner"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="events-banner__inner page-width">
    <div class="events-banner__media">
      {% if section.settings.image != blank %}
        {{
          section.settings.image
          | image_url: width: 1600
          | image_tag:
            class: 'events-banner__image',
            loading: 'lazy',
            widths: '480, 768, 1200, 1600',
            sizes: '(max-width: 749px) 100vw, 50vw'
        }}
      {% endif %}
    </div>

    <div class="events-banner__content">
      {% if section.settings.heading != blank %}
        <h2 class="events-banner__heading typography__large-header">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="events-banner__text typography__banner-copy">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Simple event feature",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Big Green Events"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Cooking on a Big Green Egg is more than the act of making delicious food. It's a celebration of flavor, creativity, and bringing people together.</p><p>Come join us to learn new techniques, taste delicious recipes, and be part of the community.</p>"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#00573F"
    }
  ],
  "presets": [
    {
      "name": "Simple event feature"
    }
  ]
}
{% endschema %}